/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
:root{
    --bg-color : #ffffff;
    --text-color: #22100d;
    --second-color : #BC9667;
    --big-font: 3.2rem;
    --h2-font: 2.6rem;
    --h4-font: 1.8rem;
    --p-font: 1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
    transition: all .40s ease;
}
header.shadow{ /* For Scroll */
    background: rgba(39, 38, 38, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(36, 36, 36, 0.01);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Logo */
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 30px;
    margin-right: 10px;
}
.logo h2{
    font-size: 25px;
    color: var(--bg-color);
    letter-spacing: 3px;
}
.logo h2 span{
    color: var(--second-color);
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBar a{
    font-size: 15px;
    color: var(--bg-color);
    margin-left: 45px;
    font-weight: 800;
    position: relative;
}
.navBar a::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    transition: .4s ease;
    background: var(--second-color);
}
.navBar a:hover::before{
    width: 100%;
    height: 2px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease;
    margin-right: 20px;
}
.icons a{
    margin-right: 30px;
    cursor: pointer;
    color: var(--bg-color);
    font-size: 22px;
    transition: .4s ease;
}
.icons a:hover{
    transform: scale(0.85);
    color: #c37618;
}
#menu-icon{
    font-size: 25px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
    transform: translateY(-2px);
    color: var(--bg-color);
}

/* Button */
.btn{
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: var(--p-font);
    color: var(--bg-color);
    background: var(--second-color);
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.btn:hover{
    background: var(--bg-color);
    color: #d59546;
    transition: .5s ease-in-out;
    border: 1.5px solid #BC9667;
}

/* Section */
section{
    padding: 145px 8%;
}

/* Home Section */
.home{
    width: 100%;
    height: 100vh;
    background-image: url(img/bg.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}
.home .text-content{
    width: 55%;
}
.home .text-content h2{
    font-size: var(--big-font);
    color: var(--second-color);
    margin-bottom: 10px;
    text-transform: uppercase;
}
.home .text-content p{
    font-size: 12px;
    color: var(--bg-color);
    margin-bottom: 35px;
}
.home .img-content img{
    width: 450px;
}
.home .btn{
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: var(--p-font);
    color: var(--bg-color);
    background: var(--second-color);
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease-in;
}
.home .btn:hover{
    transform: scale(0.9);
}

/* scroll Up Button */
.scroll-to-top {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 40px;
    width: 40px;
    height: 40px;
    color: #ffffff;
    background-color: #BC9667;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    transition: 0.6s ease;
}
.scroll-to-top i{
    font-size: 18px;
}
.scroll-to-top.up{
    opacity: 1;
    visibility: visible;
}

/* Why Choose Us */
.whyChoose{
    padding: 150px 4%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 30px;
}
.whyChoose .col1{
    display: flex;
    flex-direction: column;
}
.whyChoose .col1 img{
    width: 45px;
}
.whyChoose .col1 h4{
    font-size: 22px;
    margin-top: 5px;
}
.whyChoose .col1 p{
    font-size: 12px;
}

/* About Us */
.aboutus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.aboutus .img-content img{
    width: 425px;
}
.aboutus .text-content h2{
    font-size: var(--h2-font);
    color: #BC9667;
    margin-bottom: 5px;
}
.aboutus .text-content p{
    margin-bottom: 35px;
}

/* Popular */
.popular{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
}
.popular h2{
    font-size: 27px;
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.rows{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 55px;
    align-items: center;
}
.cart{
    width: 250px;
    height: 330px;
    position: relative;
    padding: 10px;
    transition: 0.4s ease-in;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.img-gallery{
    width: 100%;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
}
.img-gallery .bx-heart{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    background:var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-in;
    cursor: pointer;
}
.bxs-heart{
    color: crimson;
}
.img-gallery .bx-share-alt{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background:var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-in;
    cursor: pointer;
}
.img-gallery i:hover{
    transform: scale(0.8);
}
.img-gallery img{
    width: 150px;
    transition: 0.4s ease-in;
}
.cart h4{
    font-size: 15px;
    margin-top: 15px;
    font-weight: 500;
}
.text-gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.text-gallery .rupee{
    padding-inline: 15px;
    cursor: pointer;
    color: var(--bg-color);
    background: #BC9667;
    outline: none;
    border: none;
}
.text-gallery .AddCart{
    padding-inline: 15px;
    cursor: pointer;
    color: var(--bg-color);
    background: var(--bg-color);
    color: var(--text-color);
    outline: none;
    border: 1px solid #BC9667;
}
.cart:hover .img-gallery img{
    transform: scale(1.15);
}
.all{
    padding: 8px 25px;
    font-size: 14px;
    cursor: pointer;
    color: var(--bg-color);
    background: var(--second-color);
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.5s ease-in;
}
.all:hover{
    transform: scale(0.95);
}

/* Contact Us */
.contactus{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
.contactus h2{
    font-size: 24px;
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.contactus .email-section{
    width: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactus .email-section input{
    width: 100%;
    height: 40px;
    border: 1px solid #22100d;
    padding-inline: 15px;
    outline: none;
    border-radius: 5px;
    flex-wrap: wrap;
}
.contactus .email-section button{
    position: absolute;
    right: 0;
    padding: 8.7px 25px;
    cursor: pointer;
    font-size: 15px;
    background: #d59546;
    color: #fff;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* Footer */
footer{
    padding: 13px 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px,auto));
    gap: 1rem;
    margin-bottom: 10px;
}
.footer-logo{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 300;
}
.footer-logo span{
    font-weight: 600;
    color: var(--second-color);
}
.footer-logo img{
    width: 35px;
    margin-right: 0.3rem;
}
.footer-box{
    display: flex;
    flex-direction: column;
}
.footer-box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.footer-box a{
    color: var(--text-color);
    margin-bottom: 4px;
    transition: 0.4s;
}
.footer-box a:hover{
    transform: translateX(6px);
}
.social{
    display: flex;
    column-gap: 1rem;
}
.social .bx{
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    border-radius: 0.5rem;
    font-size: 1rem;
}
.social .bx:hover{
    transform: scale(0.9);
}
.line{
    display: flex;
    align-items: center;
    justify-content: center;
}
.line span{
    width: 80%;
    height: 1px;
    background: #22100d;
    margin-bottom: 10px;
}
.copyright{
    text-align: center;
    margin: 1rem 0 1.5rem;
    font-size: var(--p-font);
    color: var(--text-color);
}


/* Make it response */
@media screen and (max-width : 1200px) {
    html{
        font-size: 87%;
    }
    .home .img-content img{
        width: 350px;
    }
    .whyChoose{
        padding-inline: 6%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

/* Small Sized Laptop */
@media screen and (max-width : 938px) {
    .logo h2{
        font-size: 20px;
    }
    section{
        padding: 50px 6%;
    }
    #menu-icon{
        display: initial;
        z-index: 150;
        margin-left: 20px;
    }
    .navBar{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background: var(--second-color);
        height: 250px;
        display: flex;
        text-align: center;
        flex-direction: column;
        clip-path: circle(0% at 50% 0);
        transition: 0.5s;
    }
    .navBar a{
        color: var(--bg-color);
        display: block;
        padding: 12px;
    }
    .navBar a:hover::before{
        background: var(--bg-color);
    }
    .navBar.active{
        clip-path: circle(264% at 50% 0);
        transition: 0.45s ease-in;
    }
    .home .text-content h2{
        font-size: 25px;
    }
    .home .img-content img{
        width: 250px;
    }
    .whyChoose .col1 h4{
        font-size: 18px;
    }
    .whyChoose .col1 p{
        font-size: 11px;
    }
    .aboutus .img-content img{
        width: 325px;
    }
    .rows{
        grid-template-columns: repeat(2,1fr);
    }
}

/* Tab Design: 768 */
@media screen and (max-width:768px) {
    .home{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 10px;
    }
    .home .text-content{
        width: 100%;
    }
    .home .btn{
        width: 150px;
        height: 30px;
        line-height: 30px;
    }
    .aboutus{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

/* Mobile-friendly */
@media screen and (max-width: 630px) {
    section{
        padding-inline: 12px;
    }
    .whyChoose{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .col1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
    }
    .rows{
        grid-template-columns: repeat(1,1fr);
    }
    .contactus .email-section{
        width: 350px;
    }
    .contactus .email-section button{
        position: absolute;
        right: 0;
        padding: 8.7px 20px;
    }
}

/* Small Change */
@media screen and (max-width : 400px) {
    html{
        font-size: 78%;
    }
    .aboutus .img-content{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
    }
    .contactus .email-section{
        width: 280px;
    }
}